body {
    background-image: url('../imagenes/FondoPared.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
}

header {
    position: absolute;
    width: 100%;
    height: 50px;
    margin-top: 70px;
    justify-self: center;
}

.logo {
    position: absolute;
    margin-top: 150px;
    /* margin-left: 11%; */
    margin-left: calc(50% - 39%);
    width: 40px;
}

.tituloJuego {
    font-family: 'Shadows Into Light', cursive;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin-top: 60px;
    max-width: 50%;
    margin: auto;
    line-height: 40px;
}

main {
    background-image: url('../imagenes/TablaConHojas.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: auto;
    max-width: 1200px;
    height: 900px;
}

.seccionInicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 100%;
}

.btnIniciarJuego {
    width: 317px;
    height: 114px;

    background: #db7e14;
    border-radius: 24px;
    /* border: none; */

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.btnAgregarPalabra {
    width: 300px;
    height: 70px;

    border-radius: 24px;

    background: #fbcb8d;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: #0A3871;
}

.seccionMuneco {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    width: 80%;
    height: 100%;
    /* margin-top: 200px; */
    margin: 0 auto;
    position: relative;
}

.canvasMuneco {
    margin: 170px auto 30px auto;
    display: block;
}

.msgGanaste {
    background-image: url('../imagenes/Excelente.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 600px;
    height: 300px;
    position: absolute;
    width: 300px;
    justify-self: center;
    margin-top: 250px;
}

.msgPerdiste {
    background-image: url('../imagenes/Puedes-mejorar.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 600px;
    height: 300px;
    position: absolute;
    width: 300px;
    justify-self: center;
    margin-top: 250px;
}

.canvasGuiones {
    margin: 0 auto;
    display: block;
}

.btnNuevoJuego {
    width: 300px;
    height: 70px;
    margin: 0 20px;

    background: #db7e14;
    border-radius: 24px;
    /* border: none; */

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.btnRendirse {
    width: 300px;
    height: 70px;
    background: #fbcb8d;
    /* opacity: 0.6; */
    border-radius: 24px;
    /* border: none; */

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #0A3871;
}

footer {
    background-color: #ad5e1c;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2px 0;
    margin: 5px auto;
    max-width: 1200px;
    height: 30px;
}

footer p {
    margin: 3px;
    color: #FFFFFF;
}
