body {
    background-image: url('../imagenes/FondoPared.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
}

header {
    position: absolute;
    width: 100%;
    height: 50px;
    margin-top: 70px;
    justify-self: center;
}

.logo {
    position: absolute;
    margin-top: 150px;
    margin-left: calc(50% - 39%);
    width: 40px;
}

.tituloJuego {
    font-family: 'Shadows Into Light', cursive;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin-top: 60px;
    max-width: 50%;
    margin: auto;
    line-height: 40px;
}

main {
    background-image: url('../imagenes/TablaConHojas.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: auto;
    max-width: 1200px;
    height: 900px;
}

.seccionInicio, .seccionAgregarPalabra {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 100%;
    margin: auto;
}

.seccionAgregarPalabra span {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    left: 10px;
}

.capturarPalabra {
    width: 70%;
    max-width: 350px;
    height: 40px;
    border-radius: 5px;
    border: #ad5e1c solid 3px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    color: #000000;

    text-transform: uppercase;
}


.btnIniciarJuego {
    width: 317px;
    height: 114px;

    background: #db7e14;
    border-radius: 24px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.btnAgregarPalabra {
    width: 300px;
    height: 70px;
    border-radius: 24px;
    background: #fbcb8d;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: #0A3871;
}

.seccionMuneco {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.canvasMuneco {
    margin: 170px auto 30px auto;
    display: block;
}

.msgGanaste {
    background-image: url('../imagenes/Excelente.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 600px;
    height: 300px;
    position: absolute;
    width: 300px;
    justify-self: center;
    margin-top: 250px;
    animation: 1s aparecer 1;
}

@keyframes aparecer {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
    }
    70% {
        transform: scale(0.9);
    }
}

.msgPerdiste {
    background-image: url('../imagenes/Puedes-mejorar.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 600px;
    height: 300px;
    position: absolute;
    width: 300px;
    justify-self: center;
    margin-top: 250px;
    animation: 1s mostrar 1;
}

@keyframes mostrar {
    0% {
        opacity: 0;
        transform: scale(1.5);
    }
    50% {
        opacity: 1;
        transform: scale(0.5);
    }
    70% {
        transform: scale(1.2);
    }
}

.canvasGuiones {
    margin: 0 auto;
    display: block;
}

.btnNuevoJuego, .btnAnadir {
    width: 200px;
    height: 70px;
    margin: 0 20px;

    background: #db7e14;
    border-radius: 24px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.btnIniciarJuego:hover, .btnNuevoJuego:hover, .btnAnadir:hover {
    background: #fbcb8d;
}

.btnAgregarPalabra:hover, .btnRendirse:hover, .btnRegresar:hover {
    background: #db7e14;
}

.btnIniciarJuego:active, .btnNuevoJuego:active, .btnAnadir:active {
    background: #db7e14;
}

.btnAgregarPalabra:active, .btnRendirse:active, .btnRegresar:active {
    background: #fbcb8d;
}

.btnRendirse, .btnRegresar {
    width: 200px;
    height: 70px;
    background: #fbcb8d;
    border-radius: 24px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #0A3871;
}

footer {
    background-color: #ad5e1c;
    display: grid;
    grid-template-columns: 10fr 2fr;
    padding: 2px 0;
    margin: 5px auto;
    max-width: 1200px;
    height: 30px;
    align-items: center;
}

footer p {
    margin: 3px 10px;
    color: #FFFFFF;
    justify-self: center;
}

@media screen and ( max-width: 800px ) {
    .tituloJuego {
        font-size: 35px;
    }

    footer {
        padding: 2px 0;
        margin: 5px auto;
        max-width: 1200px;
        height: 50px;
        text-align: center;
    }
}

@media screen and ( max-width: 600px ) {
    header {
        margin-top: 60px;
    }

    main {
        height: 750px;
    }

    .tituloJuego {
        font-size: 30px;
        line-height: 1;
    }

    .logo {
        width: 30px;
    }

    .capturarPalabra {
        font-size: 1rem;
    }

    .seccionAgregar-botones {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .btnIniciarJuego {
        width: 60%;
        height: 80px;
        border-radius: 18px;
        font-size: 1.2rem;
    }
    
    .btnAgregarPalabra {
        width: 60%;
        height: 70px;
        border-radius: 18px;
        font-size: 1.2rem;
    }

    .canvasMuneco {
        width: 250px;
        height: 350px;
        margin: 140px auto 10px auto;
    }

    .msgGanaste{
        width: 200px;
        height: 200px;
    }

    .msgPerdiste{
        width: 200px;
        height: 200px;
    }

    .divBtnNuevoRendirse {
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        gap: 15px;
    }

    footer {
        font-size: 0.8rem;
        height: 40px;
    }
}

@media screen and ( max-width: 360px ) {
    header {
        margin-top: 50px;
    }

    .tituloJuego {
        font-size: 25px;
        line-height: 1;
    }

    main {
        height: 650px;
    }

    .logo {
        width: 20px;
    }

    .seccionMuneco {
        grid-template-rows: 1fr 0.2fr 0.5fr;
    }

    .canvasMuneco {
        width: 200px;
        height: 300px;
    }

    .btnNuevoJuego, .btnAnadir {
        width: 150px;
        height: 50px;
        border-radius: 14px;
        font-size: 1rem;
    }

    .btnRendirse, .btnRegresar {
        width: 150px;
        height: 50px;
        border-radius: 14px;
        font-size: 1rem;
    }

    .divBtnNuevoRendirse {
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        gap: 15px;
    }

    .msgGanaste{
        width: 150px;
        height: 150px;
    }

    .msgPerdiste{
        width: 150px;
        height: 150px;
    }
}
